@mixin flexCenter($direction, $bk){
    @if $direction != row and $direction != column {
        @error "Property #{$direction} must be either row or column.";
      }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: $direction;
    background: $bk;
}
@mixin between(){
        justify-content: space-between;
        flex: 1 1 auto;
}
header{
    @include flexCenter(row,$alice);
    @include between();
    color: $red;
    button{
        background: $blue; 
        &:hover{
            background: $purple;
        }
        &::after{
            content: ' hello world'
        }
    }
}